<template>
  <div id="app">
    <Header></Header>
    <Questions>
      <b-container class="bv-example-row">
        <b-row>
          <b-col>1 of 3</b-col>
          <b-col>2 of 3</b-col>
          <b-col>3 of 3</b-col>
        </b-row>
      </b-container>
    </Questions>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Questions from "./components/Questions.vue";

export default {
  name: "App",
  components: {
    Header,
    Questions,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
