<template>
  <div id="app">
    <Header></Header>

    <b-container class="bv-example-row">
      <b-row>
        <b-col><Questions /></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Questions from "./components/Questions.vue";

export default {
  name: "App",
  components: {
    Header,
    Questions,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
