<!-- Question Screen -->

<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col sm="6" offset="3">
        <!-- The Question component contains the structure and content of the game.-->
        <Questions
          v-if="questions.length"
          :currentQuestion="questions[index]"
          :next="next"
          :saveAnswer="saveAnswer"
        />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Questions from "./Questions.vue";

export default {
  name: "Game",
  components: {
    Questions,
  },
  data() {
    return {
      questions: [],
      index: 0,
      numCorrect: 0,
      numTotal: 0,
      answers: [],
    };
  },
  methods: {
    //going to next question
    next() {
      this.index++;
      if (this.index == this.questions.length) {
        //saving current game questions and answers
        localStorage.setItem(
          "user-session",
          JSON.stringify({
            questions: this.questions,
            answers: this.answers,
          })
        );
        //Redirecting to "results" path - where the user can see his game score.
        this.$router.push("/results");
      }
    },

    saveAnswer(question, answer) {
      //Saving the user's question and answer
      this.answers.push({
        question: question,
        answer: answer,
      });
    },
  },
  mounted: function() {
    const config = JSON.parse(localStorage.getItem("game-config"));
    let url =
      "https://opentdb.com/api.php?amount=" + config.number + "&type=multiple";
    if (config.category !== "any") {
      url = url + "&category=" + config.category;
    }
    if (config.level !== "any") {
      url = url + "&difficulty=" + config.level;
    }
    //fetching data from Trivia API
    fetch(url, {
      method: "get",
    })
      .then((response) => {
        return response.json();
      })
      .then((jsonData) => {
        this.questions = jsonData.results;
      });
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
