<!-- Start Screen -->

<!-- Player can select the category, difficulty and the number of questions -->
<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col sm="6" offset="3">
        <b-jumbotron
          bg-variant="info"
          text-variant="white"
          border-variant="dark"
        >
          <template #header>Trivia Game</template>

          <form @submit.prevent="onGetNewsSubmit" class="mb-3">
            <fieldset class="mb-3">
              <label for="category" class="form-label">Category</label>
              <select class="form-select" v-model="selectedCategory">
                <option value="">-- Choose category --</option>
                <option
                  v-for="category of categories"
                  :value="category.value"
                  :key="category.value"
                >
                  {{ category.name }}
                </option>
              </select>
            </fieldset>

            <fieldset class="mb-3">
              <label for="difficultyLevel" class="form-label"
                >Select Difficulty:</label
              >
              <select class="form-select" v-model="selectedDifficulty">
                <option value="">-- Choose difficulty --</option>
                <option
                  v-for="level of difficulty"
                  :value="level.value"
                  :key="level.value"
                >
                  {{ level.name }}
                </option>
              </select>
            </fieldset>

            <fieldset class="mb-3">
              <label for="questionNumber" class="form-label"
                >Number of Questions:</label
              >
              <b-input min="10" max="50" v-model="selectedNumber"></b-input>
            </fieldset>

            <button type="submit" class="btn btn-primary btn-lg">
              Start Game
            </button>
          </form>

          <section class="alert alert-danger" v-if="error">
            <h4>Hang on!</h4>
            <p class="mb-0">{{ error }}</p>
          </section>
        </b-jumbotron>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "Home",
  methods: {
    // The player needs to select at least one category, the difficulty level and a question number between 10 and 50 questions or user will see an error message.
    onGetNewsSubmit() {
      this.error = "";

      if (!this.selectedCategory) {
        this.error = "You forgot to select a category";
        return;
      }

      if (!this.selectedDifficulty) {
        this.error = "You forgot to select a difficulty";
        return;
      }
      if (this.selectedNumber < 10 || this.selectedNumber > 50) {
        this.error = "Choose a number between 10 and 50";
        return;
      }
      //Saving data in localStorage
      localStorage.setItem(
        "game-config",
        JSON.stringify({
          level: this.selectedDifficulty,
          category: this.selectedCategory,
          number: this.selectedNumber,
        })
      );

      // Redirecting to "game" path - where the game starts.
      this.$router.push("/game");
    },
  },
  //Storing variables
  data() {
    return {
      error: "",
      selectedDifficulty: "",
      selectedCategory: "",
      selectedNumber: "10",
      categories: [
        {
          name: "Any Category",
          value: "any",
        },
        {
          name: "General Knowledge",
          value: "9",
        },
        {
          name: "Entertainment: Books",
          value: "10",
        },
        {
          name: "Entertainment: Film",
          value: "11",
        },
        {
          name: "Entertainment: Music",
          value: "12",
        },
        {
          name: "Entertainment: Musicals & Theatres",
          value: "13",
        },
        {
          name: "Entertainment: Television",
          value: "14",
        },
        {
          name: "Entertainment: Video Games",
          value: "15",
        },
        {
          name: "Entertainment: Board Games",
          value: "16",
        },
        {
          name: "Science & Nature",
          value: "17",
        },
        {
          name: "Science: Computers",
          value: "18",
        },
        {
          name: "Science: Mathematics",
          value: "19",
        },
        {
          name: "Mythology",
          value: "20",
        },
        {
          name: "Sports",
          value: "21",
        },
        {
          name: "Geography",
          value: "22",
        },
        {
          name: "History",
          value: "23",
        },
        {
          name: "Politics",
          value: "24",
        },
        {
          name: "Art",
          value: "25",
        },
        {
          name: "Celebrities",
          value: "26",
        },
        {
          name: "Animals",
          value: "27",
        },
        {
          name: "Vehicles",
          value: "28",
        },
        {
          name: "Entertainment: Comics",
          value: "29",
        },
        {
          name: "Science: Gadgets",
          value: "30",
        },
        {
          name: "Entertainment: Japanese Anime & Manga",
          value: "31",
        },
        {
          name: "Entertainment: Cartoon & Animations",
          value: "32",
        },
      ],
      difficulty: [
        {
          name: "Any Difficulty",
          value: "any",
        },
        {
          name: "Easy",
          value: "easy",
        },
        {
          name: "Medium",
          value: "medium",
        },
        {
          name: "Hard",
          value: "hard",
        },
      ],
    };
  },
};
</script>
