<!-- Question Screen -->
<template>
  <b-jumbotron bg-variant="info" text-variant="white" border-variant="dark">
    <template #header>Trivia Game</template>

    <template #lead>
      {{ currentQuestion.question }}
    </template>

    <hr class="my-4" />

    <b-list-group>
      <b-list-group-item
        v-for="(answer, index) in shuffledAnswers"
        :key="index"
        @click.prevent="selectAnswer(index)"
        :class="answerClass(index)"
      >
        {{ answer }}
      </b-list-group-item>
    </b-list-group>

    <b-button
      @click="submitAnswer"
      variant="success"
      :disabled="selectedIndex === null"
      >Next</b-button
    >
  </b-jumbotron>
</template>

<script>
import _ from "lodash";

export default {
  //data from a parent component down to it's child component
  props: {
    currentQuestion: Object,
    next: Function,
    saveAnswer: Function,
  },
  data: function() {
    return {
      selectedIndex: null,
      correctIndex: null,
      shuffledAnswers: [],
      answered: false,
    };
  },
  //data that needs to change based on some other data
  watch: {
    currentQuestion: {
      immediate: true,
      handler() {
        this.selectedIndex = null;
        this.answered = false;
        this.shuffleAnswers();
      },
    },
  },
  methods: {
    selectAnswer(index) {
      //event that marks the question selected by the user
      this.selectedIndex = index;
    },
    //shuffle the correct and incorrect answers
    shuffleAnswers() {
      let answers = [
        ...this.currentQuestion.incorrect_answers,
        this.currentQuestion.correct_answer,
      ];
      this.shuffledAnswers = _.shuffle(answers);
      this.correctIndex = this.shuffledAnswers.indexOf(
        //saving what is the correct answer
        this.currentQuestion.correct_answer
      );
    },
    submitAnswer() {
      this.saveAnswer(
        this.currentQuestion,
        this.shuffledAnswers[this.selectedIndex]
      ); //saving the user's question and answer
      this.next(); //goes to the next question
    },
    answerClass(index) {
      //shows the selected answer
      let answerClass = "";
      if (this.selectedIndex === index) {
        answerClass = "selected";
      }
      return answerClass;
    },
  },
};
</script>

<style scoped>
.list-group {
  margin-bottom: 10px;
}

.list-group-item:hover {
  background: lightgray;
  cursor: pointer;
}

.selected {
  background-color: lightblue;
}

.jumbotron {
  padding-bottom: 15px;
}
</style>
