<!-- Result Screen -->

<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col sm="6" offset="3">
        <b-jumbotron
          bg-variant="info"
          text-variant="white"
          border-variant="dark"
        >
          <template #header>Trivia Results</template>
          <!-- Game score -->
          <h3>
            The <b>score</b> is <b>{{ score }}</b> of
            <b>{{ userQuestions.length }}</b
            >.
          </h3>

          <!-- For each question answered in the game, display whether the user got the answer right or not. -->
          <div v-for="(currentQuestion, i) in userQuestions" :key="i">
            <hr class="my-4" />
            <template>
              {{ currentQuestion.question }}
            </template>

            <hr class="my-4" />

            <b-list-group>
              <b-list-group-item
                v-for="(answer, index) in answers(currentQuestion)"
                :key="index"
                :class="answerClass(answer, currentQuestion)"
              >
                {{ answer }}
              </b-list-group-item>
            </b-list-group>
          </div>
          <hr class="my-4" />
          <!-- Restart the game-->
          <b-button @click="startAgain" variant="primary">Start Again</b-button>
        </b-jumbotron>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data: function() {
    return {
      userQuestions: [],
      userAnswers: [],
      score: 0,
    };
  },
  // getting questions from the current game session and user responses
  mounted: function() {
    let userSession = JSON.parse(localStorage.getItem("user-session"));
    this.userQuestions = userSession.questions;
    this.userAnswers = userSession.answers;
    //I get the correct answers from the userQuestion using map
    let correctAnswer = this.userQuestions.map(
      (question) => question.correct_answer
    );
    //compare with the user's answers and count how many matched the correct answers
    let userAnswer = this.userAnswers.map((userAnswer) => userAnswer.answer);
    for (let i = 0; i < correctAnswer.length; i++) {
      for (let j = 0; j < userAnswer.length; j++) {
        if (userAnswer[j] === correctAnswer[i]) {
          this.score++;
        }
      }
    }
  },
  methods: {
    answers(question) {
      let answers = [...question.incorrect_answers];
      answers.push(question.correct_answer);
      return answers;
    },
    //It will render the HTML class according to the user's response.
    answerClass(currentAnswer, currentQuestion) {
      let answerClass = "";
      let userAnswer = this.userAnswers.find(
        //finding the user's answer to the question
        (a) => a.question.question === currentQuestion.question
      ).answer;
      //correct answer render "correct class" (green color)
      if (
        userAnswer === currentAnswer &&
        currentAnswer === currentQuestion.correct_answer
      ) {
        answerClass = "correct";
        console.log("oi");
      }
      //incorrect answer render "incorrect class" (red color)
      if (
        userAnswer === currentAnswer &&
        currentAnswer !== currentQuestion.correct_answer
      ) {
        answerClass = "incorrect";
      } else if (currentAnswer === currentQuestion.correct_answer) {
        answerClass = "correct";
      }

      return answerClass;
    },
    //redirecting to "home page" to restart the game
    startAgain() {
      this.$router.push("/");
    },
  },
};
</script>

<style scoped>
.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
}

.jumbotron {
  padding: 30px;
}
</style>
