<template>
  <div class="questiosContainer">
    <b-jumbotron bg-variant="info" text-variant="white" border-variant="dark">
      <template #header>Trivia Game</template>

      <template #lead>
        {{ currentQuestion.question }}
      </template>

      <hr class="my-4" />

      <p>
        list of questions
      </p>

      <b-button variant="primary" href="#">Submit</b-button>
      <b-button variant="success" href="#">Next</b-button>
    </b-jumbotron>
  </div>
</template>

<script></script>
